@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/* Reset css (basic) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
* {
    font-family: "Oxanium", cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #76bbf3, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon-gif {
    position: absolute;
    bottom: 55%;
    left: 50%;

    transform: translate(-63%, 20%);

    height: 18%;
}

.pokemon-data {
    position: absolute;
    top: 54.5%;
    right: 27%;

    font-weight: 600;
    color: #aaa;

    font-size: clamp(8px, 5vw, 27px);
}

.pokemon-name {
    color: #5f4a4a;
    text-transform: capitalize;
}